@font-face {
    font-family: Merriweather-Bold;
    src: url(fonts/Merriweather-Bold.ttf);
}

html {
    font-size: 20px;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    margin-left: 250px;
    margin-right: 250px;
    background-color: rgb(213, 223, 213);
}

.sidebar {
    background-image: url(images/feey-H1A-wUPKauY-unsplash.jpg);
    background-size: cover; 
    background-position: center; 
    flex: 3;
    position: relative; }

.shade {
    position: absolute;
    top: 140px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20,30,20,0.5);
    
}

.shade>img {
    object-fit: auto;
    height:max-content;
    color: red;
}

h1 {
    font-family: "Merriweather-Bold";
    margin: 0;
    text-align: center;
    font-size: 3rem;
    color: cornsilk;
}

p,
legend {
    font-family: "Merriweather-Bold";
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 0;
    padding-right: 40px;
    gap: 70px;
    align-items: stretch;
}

li {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.7rem;
}

input {
    font-size: 1.1rem;
    width: 240px;
    padding: 0;
    margin: 0;
}

.text {
    margin-bottom: 100px;
}

.form-container {
    background-color: rgb(255, 255, 255);
    padding: 150px 50px;
    flex: 6;
    display: flex;
    flex-direction: column;
}



fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

